:root {
    --primary-color: #6e0e10;
    --primary-hover: #5c0d0e;
    --white: #ffffff;
    --font-primary: 'Cormorant Garamond', serif;
    --font-secondary: sans-serif;
    --radius-sm: 10px;
    --radius-md: 30px;
    --radius-lg: 40px;
    --radius-xl: 50px;
    --radius-xxl: 70px;
    --transition-fast: all 0.2s ease-in-out;
    --h2-color: #545454;
    --p-color: #737373;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

body {
    background-image: url(img/bg-confirm.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.box-father{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: var(--primary-color) 2px solid;
    width: fit-content;
    padding: 20px 50px;
    background-color: var(--white);
    border-radius: var(--radius-lg);
    text-align: center;
    min-height: 250px;
}

.box h2{
    color: var(--h2-color);
    font-size: 24px;
    font-weight: 600;

}

.box p {
    color: var(--p-color);
    font-size: 20px;
}

.box span{
    color: var(--primary-color);
    font-weight: bold;
    font-weight: 600;
}

.buttons{
    display: flex;
    gap: 20px;
}

.button{
    background-color: var(--white);
    border: var(--primary-color) 3px solid;
    border-radius: var(--radius-lg);
    padding: 10px 80px;
    cursor: pointer;
}

.button p {
    font-weight: bold;
    color: var(--primary-color);
}

.no {
    background-color: var(--primary-color);
}

.no p {
    color: white;
}
